<DOCTYPE html>
<html>
 <head>
   <title>BLACKBOX -관리자</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
   <link href="/stylesheets/magnific-popup.css" rel="stylesheet">
   <link href="/stylesheets/creative.min.css" rel="stylesheet">
 </head>
 <body id="page-top">
     <nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
         <div class="container">
           <a class="carousel-control-prev" href="#" onClick="history.back()" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
             <a href="/" class="navbar-brand js-scroll-trigger">BLACKBOX</a>
             <button type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div id="navbarResponsive" class="collapse navbar-collapse">
                 <ul class="navbar-nav ml-auto">
                     <% if(id) { %>
                        <li class="nav-item">
                          <a href="/logout" class="nav-link js-scroll-trigger">logout</a>
                        </li>
                        <% }else{ %>
                        <li class="nav-item">
                          <a href="/login" class="nav-link js-scroll-trigger">login</a>
                        </li>
                        <% } %>
                     <li class="nav-item">
                         <a href="/admin/admin_setting" class="nav-link js-scroll-trigger">Setting</a>
                     </li>
                 </ul>
             </div>
         </div>
     </nav>
     <section id="client" style="width:100%;" class="bg-dark text-white">
         <div class="container">
             <h2 style="font-family:Nanum Gothic;" class="section-heading text-white" color="#FF8000" align="center">
              <storng>USER MANAGE | 회원 관리</storng>
              <span>
                <a style="margin:20px;background-color:#f05f40; color:#000000;" href="/admin/c_user_info" class="btn btn-light btn-xl js-scroll-trigger">의뢰인 사용자 보기</a>
                <a style="margin:20px;background-color:#ffffff; color:#000000;" href="/admin/l_user_info" class="btn btn-light btn-xl js-scroll-trigger">변호사 사용자 보기</a>
              </span>
               </h2>
             <hr class="light my-4">
             <table class="table table-bordered">
               <tr bgcolor="#FFFFFF" align="center">
                 <th bgcolor="#BDBDBD">이름</th><th bgcolor="#BDBDBD">아이디</th><th bgcolor="#BDBDBD">이메일</th><th bgcolor="#BDBDBD">패스워드</th><th bgcolor="#BDBDBD">패스워드</th><th bgcolor="#BDBDBD">휴대전화</th><th bgcolor="#BDBDBD">삭제</th>
               </tr>
              <%data.forEach(function(item,index){%>
               <tr align="center"  bgcolor="#FFFFFF">
                 <td><%=item.name%></td> <td><%=item.userid%></td><td><%=item.email%></td><td><%=item.password%></td><td><%=item.tele%></td><td><%=item.phone%></td>
                 <td align="center" onClick="location.href='/admin/remove_user?usertype=client&userid=<%=item.userid%>'" style="cursor:pointer;">삭제하기</td>
               </tr>
	<%})%>
             </table>
           </div>
           <div class="form-group col-lg-8">
           </div>
         </section>
         <script src="/javascripts/jquery.min.js"></script>
         <script src="/javascripts/bootstrap.bundle.min.js"></script>
         <script src="/javascripts/jquery.easing.min.js"></script>
         <script src="/javascripts/scrollreveal.min.js"></script>
         <script src="/javascripts/jquery.magnific-popup.min.js"></script>
         <script src="/javascripts/creative.min.js"></script>
       </body>
</html>
