<!DOCTYPE html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BlACKBOX</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="stylesheets/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/creative.min.css" rel="stylesheet">

  </head>

  <body id='page-top'>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
              <a class="carousel-control-prev" href="#" onClick="history.back()" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>

        <a class="navbar-brand js-scroll-trigger" href="/">BLACKBOX</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/consult">Consult</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/eyewitness">Eyewitness</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/setting">Setting</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <section id="client" class="bg-dark text-white" style="width:100%;">
    <div class="container">
          <h2 class="section-heading text-white" style="font-family:Nanum Gothic;"><storng>SETTING | 의뢰인 개인 정보 수정</strong></h2>
          <hr class="light my-4">
          <form action="edit.js" name ="clientedit" method="POST">
            <div class="form-group">
              <label class="col-sm-2" style="font-family:Nanum Gothic; placeholder=" <%= userid%>"">아이디</label>
              <div class ="col-sm-5">
                <input name="userid" type="text" class="form-control">
              </div>
              <h6>영문자, 숫자만 입력가능/ 최소 6자 이상 입력하세요.</h6>
            </div>
            <hr>
            <div class="form-group">
              <label class="col-sm-2" style="font-family:Nanum Gothic;">패스워드</label>
              <div class ="col-sm-5">
                <input name ="password" type="password" class="form-control">
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label class="col-sm-2" style="font-family:Nanum Gothic;">패스워드 확인</label>
              <div class ="col-sm-5">
                <input name ="password2" type="password" class="form-control">
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label class="col-sm-2" style="font-family:Nanum Gothic;placeholder=" <%= name%>"">이름</label>
              <div class ="col-sm-5">
                <input name ="name" type="text" class="form-control">
              </div>
              <h6>공백 없이 한글만 입력 가능</h6>
            </div>
            <hr>
            <div class="form-group">
              <label class="col-sm-2" style="font-family:Nanum Gothic;placeholder=" <%= email%>"">E-mail</label>
              <div class ="col-sm-5">
                <input name ="email" type="email" class="form-control">
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label class="col-sm-2" style="font-family:Nanum Gothic;placeholder=" <%= tele%>"">전화번호</label>
              <div class ="col-sm-5">
                <input name ="tele" type="text" class="form-control">
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label class="col-sm-2" style="font-family:Nanum Gothic;placeholder=" <%= phone%>"">핸드폰 번호</label>
              <div class ="col-sm-5">
                <input name ="phone" type="text" class="form-control">
              </div>
            </div>
            <hr>
            <div class="form-group col-lg-8">
              <button type="submit" class="btn btn-secondary" style="font-family:Nanum Gothic;">수정 완료</button>
            </div>
          </form>
    </div>
  </section>

    <!-- Bootstrap core JavaScript -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="javascripts/jquery.easing.min.js"></script>
    <script src="javascripts/scrollreveal.min.js"></script>
    <script src="javascripts/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/creative.min.js"></script>

  </body>

</html>
